@using AdminRFID.Models;

@{ Layout = null;}

@model Producto


@{
    Producto producto = new Producto();
    producto = Model;
}

@using (Ajax.BeginForm("GuardaProducto", "Productos",

new AjaxOptions
{
    HttpMethod = "Post",
    OnBegin = "onBeginSubmitGuardarProducto",
    OnFailure = "onFailureResultGuardarProducto",
    OnSuccess = "onSuccessResultGuardarProducto",
},
new { id = "frmProducto" }))
{



    @Html.HiddenFor(x => producto.idProducto, new { @id = "idProducto" })

<div class="row">

    <div class="form-group col-lg-6">
        <label>Tag</label>
        @Html.TextBoxFor(x => producto.tag, new { @class = "form-control", data_val_required = "El tag no puede ir vacio", data_val = "true" })
        @Html.ValidationMessageFor(x => producto.tag, null, new { @class = "text-danger was" })
    </div>

    <div class="form-group col-lg-6">
        <label>Descripciòn</label>
        @Html.TextBoxFor(x => producto.descripcion, new { @class = "form-control", data_val_required = "La descripciòn del producto no puede ir vacia", data_val = "true" })
        @Html.ValidationMessageFor(x => producto.descripcion, null, new { @class = "text-danger was" })
    </div>

    <div class="form-group col-lg-6">
        <label>Código de barras</label>
        @Html.TextBoxFor(x => producto.codigo, new { @class = "form-control", data_val_required = "El código de barras no puede ir vacio", data_val = "false",id="codigoBarras" })
        @Html.ValidationMessageFor(x => producto.codigo, null, new { @class = "text-danger was" })
    </div>
</div>

    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12" style="text-align:center">
            <div class="form-group">
                <h5>Códigos</h5>
            </div>
        </div>
        <div class="col-6 col-sm-12 col-lg-6" style="text-align:center">
            <div class="form-group">

                <img src="" id="barra" style="position:absolute;margin:auto;top:0;left:0;right:0;bottom:0;" />
            </div>
        </div>
        <div class="col-6 col-sm-12 col-lg-6" style="text-align:center">
            <div class="form-group">
                <img src="" id="qr" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="text-right" style="margin-top:15px;">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="submit" id="btnGuardarUsuario" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
}




