
@using AdminRFID.Models;
@model Notificacion<List<InventarioDetalle>>

@{
    Layout = null;
    List<InventarioDetalle> inventario = Model.Modelo != null ? (List<InventarioDetalle>)Model.Modelo : new List<InventarioDetalle>();
    int cont = 1;
    Boolean Puede_cancelar_entradas_y_salidas = Sesion.TienePermiso(EnumRolesPermisos.Puede_cancelar_entradas_y_salidas);
}

@if (Model.Estatus != 200)
{
    <div class="card card-primary">
        <div class="card-header">
            <h4></h4>
            <div class="card-header-action">
                @if (Sesion.TienePermiso(EnumRolesPermisos.Puede_registrar_entradas_y_salidas))
                {
                    <a href="#" class="btn btn-icon btn-dark" data-toggle="tooltip" title="Registrar entradas" onclick="RegistrarInventario(2)"><i class="fas fa-tasks"></i></a>
                    <a href="#" class="btn btn-icon btn-danger" data-toggle="tooltip" title="Registrar salidas" onclick="RegistrarInventario(3)"><i class="fas fa-tasks"></i></a>
                }
            </div>
        </div>
        <div class="card-body">
            <div class="empty-state">
                <div class="empty-state-icon">
                    <i class="fas fa-info"></i>
                </div>
                <h2>@Model.Mensaje</h2>
            </div>
        </div>
    </div>
}
else
{
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="tblInventarioDetalle">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        @*<th>idInventario</th>*@
                                        <th>Tag</th>
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>No. Puerta</th>
                                        <th>Usuario</th>
                                        <th>Tipo Inventario</th>
                                        <th>Estatus Inventario</th>
                                        <th>Fecha Alta</th>
                                        @if (Puede_cancelar_entradas_y_salidas)
                                        {
                                            <th>Acciones</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (InventarioDetalle item in inventario)
                                    {
                                    <tr>
                                        @*<th>@cont</th>*@
                                        <td>@item.idInventarioDetalle</td>
                                        <td>@item.producto.tag</td>
                                        <td>@item.producto.descripcion</td>
                                        <td>@item.producto.cantidad</td>
                                        <td>@item.noPuerta</td>
                                        <td>@item.usuario.usuario</td>
                                        <td><div class="badge @Html.Raw(item.tipoInventario == EnumTipoInventario.Entrada ? "badge-dark" : "badge-danger") badge-shadow">@item.tipoInventario.ToString()</div></td>
                                        <td><div class="badge @Html.Raw(item.estatusInventario == EnumEstatusInventario.Realizado ? "badge-success" : "badge-danger") badge-shadow">@item.estatusInventario.ToString()</div> </td>
                                        <td>@item.fechaAlta</td>
                                        @if (Puede_cancelar_entradas_y_salidas)
                                        {
                                            <td>
                                                @if ((item.fechaAlta.ToShortDateString() == DateTime.Now.ToShortDateString()) && ((item.tipoInventario==EnumTipoInventario.Entrada) || item.tipoInventario == EnumTipoInventario.Salida) )
                                                {
                                                    <div class="buttons">
                                                        <a href="javascript:CancelarInventario(@item.idInventarioDetalle,'@item.tipoInventario.ToString()','@item.producto.cantidad');" class="btn btn-icon btn-danger" data-toggle="tooltip" title="Cancelar"><i class="fas fa-times"></i></a>
                                                    </div>
                                                }
                                            </td>
                                        }
                                    </tr>
                                        cont = cont + 1;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


}


