
@using AdminRFID.Models;
@model Notificacion<List<Producto>>

@{
    Layout = null;
    List<Producto> inventario = Model.Modelo != null ? (List<Producto>)Model.Modelo : new List<Producto>();
    int cont = 1;
}

@if (Model.Estatus != 200)
{

    <div class="card card-primary">
        <div class="card-header">
            <h4></h4>
        </div>
        <div class="card-body">
            <div class="empty-state">
                <div class="empty-state-icon">
                    <i class="fas fa-info"></i>
                </div>
                <h2>@Model.Mensaje</h2>
            </div>
        </div>
    </div>

}
else
{
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="tblInventario">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Estatus de Calidad</th>
                                        <th>Total de productos entrantes</th>
                                        <th>Total de productos salientes</th>
                                        <th>Cantidad a la Fecha</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Producto item in inventario)
                                    {
                                    <tr>
                                        <td>@item.nombre</td>
                                        <td>@item.estatusCalidad.descEstatusCalidad</td>
                                        <td>@item.cantidadTotalEntradas</td>
                                        <td>@item.cantidadTotalSalidas</td>
                                        <td>@item.cantidad</td>
                                        <td>@item.fechaAlta.ToShortDateString()</td>
                                    </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


}


